@import url("https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Itim", cursive;
  font-weight: bold;
}
